<h1 class="fes-title" style="font-family: 'Ubuntu', sans-serif">
  <slot />
</h1>
<style is:global>
  .fes-title {
    color: #666;
    color: var(--color);
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 5px;
    margin-bottom: 30px;
    border-bottom: 1px dashed #eee;
    border-bottom: var(--home-divider-border);
    transition: border 1s
  }
</style>