---
---

<div class="notice" style="margin-top:60px">
  <i class="iconfont icon-notification"></i>
  <div class="notice-content">
    全新的 
    <a href="https://www.halo.run/store/apps/app-YGkgz">
    Sakura 2.2.0</a> 版本已经发布. 此版本添加了作者页面，并进行了大量优化。欢迎大家下载体验并反馈！！
  </div>
</div>
<style is:global>
  .notice {
    padding: 20px;
    border: 1px dashed #ddd;
    color: #666;
    color: var(--color);
    position: relative;
    display: block;
    background: #fbfbfb50;
    background: var(--notice-background-color);
    border-radius: 10px;
    animation: main .6s
  }

  .notice .notice-content {
    display: contents;
    vertical-align: middle;
    width: 100%
  }

  .notice .iconify {
    top: 0;
    color: #999;
    font-size: 18px;
    padding-right: 10px;
    padding-bottom: 5px
  }

  @media (max-width: 768px) {
    .notice {
      margin-top:40px;
      margin-bottom: 20px
    }
  }
</style>