---
import SiteMain from './SiteMain.astro';
import FesTitle from './FesTitle.astro';
import PostItemThumb from './PostItemThumb.astro';
import PostPagination from './PostPagination.astro';
import { PAGE_SIZE } from './../const.ts';
import { sortPosts } from '../scripts/util';

const allPosts = await Astro.glob("../pages/posts/*.md");
const sortedPosts = sortPosts(allPosts);
let postCount = 1;
---

<SiteMain>
  <FesTitle>
    <i class="iconify" data-icon="fa:envira"></i>
    <span data-i18n="home.discovery">Discovery</span>
  </FesTitle>
  {sortedPosts.slice(0, PAGE_SIZE).map((post) => 
    <PostItemThumb post={post} thumbRight={postCount++ % 2 == 0} />
  )}
</SiteMain>
<PostPagination 
  hasNext={allPosts.length > PAGE_SIZE} 
  nextUrl="/page/2"
/>