<div class="scrollbar" id="bar" style="width: 0%; background: orange;"></div>
<style is:global>
  .scrollbar {
    position: fixed;
    top: 0;
    height: 3px;
    background: #bebebe;
    transition-property: width,background;
    transition-duration: 1s,1s;
    z-index: 99999;
  }
</style>
