---
import { getCollection } from "astro:content";
import PostItemThumb from '../../components/PostItemThumb.astro';
import { PAGE_SIZE } from '../../const.ts';
import { sortPosts } from '../../scripts/util';

export const partial = true;
export async function getStaticPaths() {
  const allPosts = await getCollection("blogs");
  const total = allPosts.length;
  const totalPage = total % PAGE_SIZE == 0 ? (total / PAGE_SIZE) : (total / PAGE_SIZE + 1);
  const sortedPosts = sortPosts(allPosts);
  
  let paths = [];
  for (let i = 2; i <= totalPage; i++) {
    paths.push({ 
      params: { page: i }, 
      props: {
        total: total,
        current: i,
        posts: sortedPosts.slice(PAGE_SIZE * (i - 1), PAGE_SIZE * i),
      } 
    });
  }
  return paths;
}

const { total, current, posts } = Astro.props;
let postCount = 1;
const hasNext = ((PAGE_SIZE * (current - 1)) + posts.length) < total;
---

{posts.map((post) => 
  <PostItemThumb post={post} thumbRight={postCount++ % 2 == 0} />
)}
<div id="pagination" class="list-pagination">
  {hasNext ?
    <a href={`/page/${current + 1}`}>下一页</a> :
    <span data-i18n="page.theend" i18n-options="{&quot;clone&quot;:{}}">没有更多文章了</span>
  }
</div>